.mobile-menu-block {
  width: 320px;
  height: 2000px;
  background: $background-white;

  // Сетка от 768px и выше
  @media (min-width: $screen-md) {
    & {
      width: 100%;
      height: 2000px;
      background-color: rgba(255, 255, 255, 0.95);
      overflow: hidden;
      position: fixed;
      top: 0px;

      box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
        -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    }
  }

  @media (min-width: $screen-xl) {
    & {
      width: 320px;
      height: 2000px;

      position: relative;
      top: 0px;
      display: block;
    }
  }

  &--hidden {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;

  left: 0;
  top: 0;
  width: 320px;
  height: 100vh;
  box-sizing: border-box;

  background: $background-white;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

  color: $text-main;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  /*@media (min-width: $screen-xs) {
    display: none;
  }

  @media (min-width: $screen-md) {
    display: none;
  }*/

  @media (min-width: $screen-xl) {
    display: flex;
  }

  /*---------СТИЛИ ШАПКИ БОКОВОГО МЕНЮ------------*/
  &__header {
    width: 100%;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    &__logo-link {
      display: inline-block;
      margin-right: auto;
    }
  }
}

/*----------СТИЛИ МЕНЮ-------------------*/

.item {
  /*сброс стилей элементов списка*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  /*сброс стилей всех ссылок*/
  text-decoration: none;
  color: $text-main;
}

.main-menu {
  margin: 0;
  padding: 0;
}

.mobile-menu__main-menu {
  margin-top: 18px;
}

.main-menu__item {
  margin-top: 32px;
}
.main-menu__link--active {
  color: $link-gray;
  pointer-events: none;
}
.main-menu__item--active {
  background: url(../img/highlight.svg) no-repeat left center;
  transform: translate(-24px);
  padding: 8px 24px;
  margin-top: 24px;
  pointer-events: none;
}
.main-menu__item:hover {
  text-shadow: 0 0 1px $link-gray;
}

/*--------------СТИЛИ ПОДВАЛА----------------*/
.mobile-menu__footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.footer__contacts-side {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding: 0;
}
.email-link {
  display: block;
}

.phone-number-link {
  display: block;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.lang-side {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  padding: 0;
  padding-top: 40px;
}
.lang-link--active {
  color: $link-gray;
  pointer-events: none;
}

.lang-link:hover {
  display: block;
  transform: translatey(-5px);
  text-shadow: 0 0 5px $link-gray;
}
